/* Reset browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-div{
    background: url(Pictures/Object.png) no-repeat center; 
    background-size: cover;
    height: 1020px;
    width: 100%;


}

/* Header styling */
header nav {
    padding: 20px; /* Add padding for spacing */
    margin: 0 50px;
} 
header nav img {
    height: 30px; 
    width: 167px;
}
nav ul {
    list-style-type: none;
    overflow: hidden;
    gap: 20px;
    float: right;
}
nav li {
    float: right;
}
nav li a {
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    color:#FFFFFF;
    font-size: 10px;
}
/* First section */

.first-section {
  align-content: center;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
} 
.top-columnn {
   text-align: center;
   justify-content: center;
   align-items: center;
   align-content: center;
   justify-items: center;
}
.first-section  h1 {
    font-weight: bold;
    font-size: 128px;
    color: white;
    padding-top: 150px;
}
#span-div {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    width: 300px;
}
#span-div span {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
}
.first-section button {
    display: block;
    align-content: center;
    justify-items: center;
}
.btn-div {
    display: block;
    justify-items: center;
    margin-top: 50px;
}
.btn-div button {
    padding: 15px;
    color: white;
    background-color: #C271FF;
    border: none;
    border-radius: 25px;
    font-size: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
.btn-div button:hover {
    opacity: 0.5;
}

/* Second-column  */
.second-column {
    margin-top: 170px;
    padding: 0 29px;
    
}
.second-column h2 {
    color: white;
    font-family: sans-senrif;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin: 0 auto;
    text-align: center;
}
.second-column  span {
    color: #C271FF !important;
    font-weight: bold !important;
    font-size: larger;
    font-family: Arial;
}

/* Third Column */
.third-column {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 160px;
    margin-top: 80px;
    color: white;
   
}

.first-image-div , .second-image-div , .third-image-div , .fourth-image-div   {
    width: 145px;
    font-style: italic;
    align-self: center;
    text-align: center;
}
.first-image-div h3, .second-image-div h3, .third-image-div h3, .fourth-image-div h3 {
    margin-top: 2px;
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: bold;
}
.first-image-div p, .second-image-div p, .third-image-div p, .fourth-image-div p {
    font-size: 16px;
    line-height: 23px;
} 
.third-image-div img {
    border-radius: 80px;
}

/* Body stying */
body {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

/* Second Section */
.second-section {
    background-color: #C271FF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 300px;
    
}
.authorpic-div blockquote, .authorbio-div h3 {
   display: inline-block;
}

.authorbio-div blockquote {
    width: 550px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 2px;
    
}
.authorbio-div h3 {
    padding-top: 20px;
    padding-bottom: 5px;
}
.authorbio-div {
    color: white;
}
/* Third Section */
.third-section {
    margin: 50px; 
    margin-bottom: 100px !important;
}
.third-section h2 {
    text-align: center;
    margin: 50px 0;
    display: block;
}
.tutor-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    margin: 0 120px;
}
.diagonal-smile h3, .diagonal-smile > p, .happy-smile h3, .happy-smile > p, .sad-smile h3, .sad-smile > p, .natural-smile h3, .natural-smile > p {
   margin-left: 15px;
   margin-top: 10px;
}
.diagonal-smile > img, .happy-smile > img, .natural-smile > img, .sad-smile > img {
    width: 100%;
}
.lower-sec {
    display: flex;
    justify-content: start;
    align-content: space-between;
    gap: 20px;
    margin-left: 15px;
    margin-top: 10px;
}
.lower-sec > img {
    width: 40px;
}
.lower-sec h4 {
    display: inline-block;
    align-self: center;
    color:#C271FF;
    font-size: 13px;
}
.rating-div {
    margin-left: 15px;
    margin-top: 10px;
}
.rating-div img {
    float: left;
    width: 80px;
}
.min {
    float: right;
    color: #C271FF;
    margin-right: 15px;
    font-size: 13px;
}
/* Play button */
#play-btn {
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 90px;
}
#btn-img {
    position: relative;
}
/* Fourth Section */
.fourth-section {
    background-color: #071629;
    color: white;
    padding: 80px 0;
}
.fourth-section h2 {
    text-align: center;
    margin-bottom: 40px;
}
.fourth-section  button {
    text-align: center;
}


.col-sec {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: center;
    row-gap: 160px;
    line-height: 30px;
    text-align: center;
}
.col-sec p {
    font-size: 15px;
    font-family: Arial;
    font-weight: lighter;
    margin-top: 10px;
}
#span-col {
    color: #C271FF;
}
.part-btn {
    text-align: center;
    margin-top: 70px;
}
/* fifth section */
.fifth-section {
    height: 1000px;
}
.fifth-section h2 {
 text-align: center;
 margin-top: 80px;
 font-weight: lighter;
 font-size: 40px;
 margin-bottom: 40px;
}
.ipsum-grid {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    column-gap: 200px;

}
.contain-div {
    margin-top: 130px;
    margin-bottom: 50px;
}
.contain h3 {
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: sans-serif;
    font-size: 14px;
}
.contain #text {
    color: rgba(5, 6, 5, 0.5);
    line-height: 25px;
    font-size: 14.5px;
}
footer {
    background-color: #071629;
    height: 250px;
}
.foot-sec {
    display: flex;
    flex-direction: row;
    gap: 800px;
    justify-content: center;
    align-content: space-between;
    margin-top: 100px;
}
.icon-div {
    display: flex;
    width: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}
#svg {
    background-color: white;
    padding: 6px; 
    border-radius: 90px;
    box-sizing: border-box;
    width: 27px;
    height: 27px;
    align-self: center;
}
.last-sec {
    text-align: center;
}
.last-p {
    margin-top: 80px;
    color: white;
    opacity: 0.3;
}